<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketManager.Properties.SocketManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocketManager.Properties.SocketManager>
            <setting name="ListenPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="IPv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxConnections" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ReceiveBufferSize" serializeAs="String">
                <value>1024</value>
            </setting>
        </SocketManager.Properties.SocketManager>
    </userSettings>
</configuration>