<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.FileManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FileManager.FileManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileManager.Properties.FileManagerSettings>
            <setting name="ServerDirectory" serializeAs="String">
                <value>D:/WebServer/</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="MaxPageNum" serializeAs="String">
                <value>16384</value>
            </setting>
        </FileManager.Properties.FileManagerSettings>
    </applicationSettings>
</configuration>